* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Work Sans', sans-serif;
    font-weight: bold; 
}
h1,
h2{
    font-family: 'Work Sans', sans-serif;
    text-align: center; 
}

.container,
.container-img{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
.container-img{
    max-width: 1050px;
    justify-content: space-between;
    display: flex;
}
.container-img ul li{
    display: inline;
    margin-left: 2px;
}

header{
    background-color: rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.703);
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    font-size: 20px;
}
header .container h1{
    font-weight: normal;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}
header nav li a{
    color: rgba(255, 255, 255, 0.703);
    text-decoration: none;
}

section .container{
    margin-top: 23px;
    margin-bottom: 15px;
}

h2{
    font-size: 26px;
    margin-bottom: 6px;
    font-weight: normal;
}

p{
    margin-left: 15px;
    font-size: large;
}

.images{
    justify-content: space-between;
}
img {
    width: 340px;
    height: 340px;
    object-fit: cover;
    box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.473);
}

img:hover{
    border: 1px solid rgba(21, 21, 21, 0.705);
}

footer{
    background-color: rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.703);
    padding: 16px 0;
    display: flex;
}
footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form{
    display: flex;
    align-items: center;
}

textarea{
    margin: 0px 10px;
    resize: none;
    height: 18.67px;
}

textarea:focus{
    height: 50px;
}

form button{
    padding: 2px;
    width: 164px;
}